<div class="row">
	<div class="span6 offset3">
		<h1>Sign up!</h1>

		<%= form_for(@artist) do |f| %>
			<%= f.label :username %>
			<%= f.text_field :username %>

			<%= f.label :email %>
			<%= f.text_field :email %>

			<%= f.label :password %>
			<%= f.password_field :password %>

			<%= f.submit "Create account!", class: "btn btn-submit btn-primary" %>
		<% end %>
	</div>
</div>