<div class="row">
	<div class="span8 offset2">
		<div>
			<h1>Edit Band</h1>
			<%= link_to icon("trash") + "Delete band", band_path(@band.page),
					method: :delete, data: { confirm: "Are you sure?" },
					class: "btn btn-danger" %>
			<br/>
		</div>
		<div>
			<%= form_for(@band, url: { action: :update, id: @band.page }) do |f| %>
				<%= render 'form_errors', object: f.object %>
				<%= f.label :name, "Name of the Band" %>
				<%= f.text_field :name %>

				<%= f.label :about, "About Band" %>
				<%= f.text_area :about %>

				<%= f.label :established %>
				<%= f.date_field :established %>

				<%= f.submit "Submit changes", class: "btn btn-primary btn-submit" %>
				<%= link_to "Cancel", band_path(@band.page), class: "btn" %>
			<% end %>
		</div>
	</div>
</div>