<div class="row">
  <div class="span8 offset2">
    <div>
      <h1><%= @band.name %></h1>
      <% if owner? @band then %>
        <%= link_to icon("pencil") + "Edit", edit_band_path(id: @band.page), class: "btn btn-primary" %>
        <%= link_to "Membership requests", band_requests_path(id: @band.page), class: "btn" %>
        
      <% end %>
      <% unless !signed_in? or member? @band or requested? @band %>
        <%= link_to "Try to join the band!", send_band_request_path(id: @band.page),
                method: :post %>
      <% end %>
      <% if member? @band then %>
        <%= link_to "Leave this band", leave_band_path(id: @band.page),
                class: "btn btn-danger", data: { confirm: "Are you sure?" },
                method: :delete %> 
      <% end %>
    </div>
    <div>
      <h4>About</h4>
      <%= display_string(@band.about) %>
    </div>
    <div>
      <% if @band.artists.count > 0 then %>
        <h4>Some of the members</h4>
        <%= link_to "See all the members of this band", band_members_path %>
        <ul class="icons-ul">
          <% @band.artist_relations.shuffle.take(5).each do |rel| %>
            <li>
              <%= image_tag(rel.artist.get_profile_picture(:thumb),
                alt: rel.artist.get_printable_name,
                class: "bands-artist-profile-thumb") %>
              <%= link_to rel.artist.get_printable_name, artist_path(rel.artist.username) %>
              <%= " (owner)" if rel.owner %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>