<div class="container">
  <%= nav_bar brand: "Band UP!", inverse: false do %>
    <%= menu_group do %>
      <%= drop_down "Go to" do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "Artists", artists_path %>
        <%= menu_item "Bands", bands_path %>
        <%= menu_item "Pictures", pictures_path %>
        <%= menu_item "Posts", posts_path %>
      <% end %>
      <% if signed_in? then %>
        <%= drop_down "My profile" do %>
          <%= menu_item "View", artist_path(current_user.username) %>
          <%= menu_item "Edit", edit_artist_path(current_user.username) %>
          <%= menu_item "Band requests", requests_to_band_path %>
        <% end %>
        <%= drop_down "My bands" do %>
          <% current_user.bands.each do |band| %>
            <%= menu_item band.name, band_path(band.page) %>
          <% end %>
        <% end %>
        <%= menu_item "Sign out", signout_path, method: :delete %>
      <% else %>
        <%= menu_item "Sign in!", signin_path %>
      <% end %>
    <% end %>
  <% end %>
</div>